# Test goal: Clang UndefinedBehaviorSanitizer build
# Test intents (should change rarely and conservatively):
#   OS: Ubuntu oldest supported
#   Compiler: Clang
#   Build type: UBSAN
#   GPU: no
#   Scope: configure, build, unit tests
# Test implementation choices (free to change as needed):
#   OS: Ubuntu 24.04
#   Compiler: Clang 18
#   MPI: thread_MPI
#   SIMD: AVX2_256
#   FFT: FFTW3
#   Parallelism nt/ntomp: 4/2

gromacs:clang-UBSAN:configure:
  extends:
    - .gromacs:base:configure
    - .use-clang:base
  rules:
    - !reference [.rules:merge-and-post-merge-acceptance, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-llvm-18-tsan
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
    COMPILER_MAJOR_VERSION: 18
    CMAKE_BUILD_TYPE_OPTIONS: "-DCMAKE_BUILD_TYPE=UBSAN"

gromacs:clang-UBSAN:build:
  extends:
    - .gromacs:base:build
    - .use-clang:base
    - .use-ccache
  rules:
    - !reference [.rules:merge-and-post-merge-acceptance, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-llvm-18-tsan
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
  needs:
    - job: gromacs:clang-UBSAN:configure

gromacs:clang-UBSAN:test:
  extends:
    - .gromacs:base:test
    - .use-clang:base
  rules:
    - !reference [.rules:post-merge-acceptance, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-llvm-18-tsan
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
    GMX_FORCE_UPDATE_DEFAULT_CPU: 1
  needs:
    - job: gromacs:clang-UBSAN:build

