# Test goal: build with HIP to check HIP compilation
# Test intents (should change rarely and conservatively):
#   OS: Ubuntu newest supported
#   Compiler: amdclang
#   GPU: HIP
#   Scope: configure, build
# Test implementation choices (free to change as needed):
#   OS: Ubuntu 22.04
#   Build type: RelWithAssert
#   Compiler: amdclang
#   MPI: threadMPI (AMD build)
#   SIMD: AVX2_256

gromacs:amdclang-hip-571:configure:
  extends:
    - .gromacs:base:configure
    - .use-amdclang:base
    - .use-hip
  rules:
    - !reference [.rules:merge-and-post-merge-acceptance, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-22.04-gcc-9-hipsycl-23.10.0-rocm-5.7.1
  variables:
    CMAKE: /usr/local/cmake-3.24.0/bin/cmake
    CMAKE_SIMD_OPTIONS: "-DGMX_SIMD=AVX2_256"
    CMAKE_BUILD_TYPE_OPTIONS: "-DCMAKE_BUILD_TYPE=RelWithAssert"
    CMAKE_EXTRA_OPTIONS: "-DGMX_HIP_TARGET_ARCH=gfx1034"
    COMPILER_MAJOR_VERSION: 15

gromacs:amdclang-hip-571:build:
  extends:
    - .gromacs:base:build
    - .use-amdclang:base
    - .use-ccache
  rules:
    - !reference [.rules:merge-and-post-merge-acceptance, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-22.04-gcc-9-hipsycl-23.10.0-rocm-5.7.1
  variables:
    CMAKE: /usr/local/cmake-3.24.0/bin/cmake
  needs:
    - job: gromacs:amdclang-hip-571:configure

gromacs:amdclang-hip-571:test:
  extends:
    - .gromacs:base:test
  rules:
    - !reference [.rules:skip-if-single-amd-gpu-unavailable, rules]    
    - !reference [.rules:merge-and-post-merge-acceptance, rules]                 
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-22.04-gcc-9-hipsycl-23.10.0-rocm-5.7.1
  variables:
    CMAKE: /usr/local/cmake-3.24.0/bin/cmake
    KUBERNETES_EXTENDED_RESOURCE_NAME: "amd.com/gpu"
    KUBERNETES_EXTENDED_RESOURCE_LIMIT: 1
    GMX_TEST_LABELS: "QuickGpuTest|SlowGpuTest"
    GPU_VENDOR: "AMD"
    GPU_COUNT: 1         
  tags:
    - $GITLAB_RUNNER_TAG_1X_AMD_GPU
  needs:
    - job: gromacs:amdclang-hip-571:build

gromacs:amdclang-hip-571:regressiontest:
  extends:
    - .gromacs:base:regressiontest
  rules:
    - !reference [.rules:skip-if-single-amd-gpu-unavailable, rules]        
    - !reference [.rules:merge-and-post-merge-acceptance, rules]                     
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-22.04-gcc-9-hipsycl-23.10.0-rocm-5.7.1
  variables:
    CMAKE: /usr/local/cmake-3.24.0/bin/cmake
    REGRESSIONTEST_TOTAL_RANK_NUMBER: 1
    REGRESSIONTEST_OMP_RANK_NUMBER: 2
    GPU_VENDOR: "AMD"
    GPU_COUNT: 1             
  tags:
    - $GITLAB_RUNNER_TAG_1X_AMD_GPU
  needs:
    - job: gromacs:amdclang-hip-571:build
    - job: regressiontests:prepare
