# Test goal: build with HIP to check HIP compilation
# Test intents (should change rarely and conservatively):
#   OS: Ubuntu newest supported
#   Compiler: gcc-11
#   GPU: HIP
#   Scope: configure, build
# Test implementation choices (free to change as needed):
#   OS: Ubuntu 24.04
#   Build type: RelWithAssert
#   Compiler: gcc-11
#   MPI: threadMPI (AMD build)
#   SIMD: AVX2_256

gromacs:gcc-11-hip-622:configure:
  extends:
    - .gromacs:base:configure
    - .use-gcc:base
    - .use-hip
  rules:
    - !reference [.rules:merge-and-post-merge-acceptance, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
    CMAKE_SIMD_OPTIONS: "-DGMX_SIMD=AVX2_256"
    CMAKE_BUILD_TYPE_OPTIONS: "-DCMAKE_BUILD_TYPE=RelWithAssert"
    CMAKE_EXTRA_OPTIONS: "-DGMX_HIP_TARGET_ARCH=gfx1034 -DGMX_USE_PLUMED=ON"
    COMPILER_MAJOR_VERSION: 11

gromacs:gcc-11-hip-622:build:
  extends:
    - .gromacs:base:build
    - .use-gcc:base
    - .use-ccache
  rules:
    - !reference [.rules:merge-and-post-merge-acceptance, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
  needs:
    - job: gromacs:gcc-11-hip-622:configure

gromacs:gcc-11-hip-622:test:
  extends:
    - .gromacs:base:test
  rules:
    - !reference [.rules:skip-if-single-amd-gpu-unavailable, rules]
    - !reference [.rules:merge-and-post-merge-acceptance, rules]                 
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
    GMX_TEST_LABELS: "QuickGpuTest|SlowGpuTest"
    GMX_TEST_PLUMED_KERNEL_IS_AVAILABLE: "YES"
    # TODO: this PLUMED_KERNEL is needed because there is a possible configuration mishap in scripted_gmx_docker_builds.py (in particular: runtime_environment={"PLUMED_KERNEL": "/usr/local/lib/libplumedKernel.so"},)
    PLUMED_KERNEL: "/usr/local/lib/libplumedKernel.so"
    HSA_ENABLE_SDMA: 0  # Work around CI issues, Issue #5341
    GPU_VENDOR: "AMD"
    GPU_COUNT: 1         
  tags:
    - $GITLAB_RUNNER_TAG_1X_AMD_GPU
  needs:
    - job: gromacs:gcc-11-hip-622:build

gromacs:gcc-11-hip-622:regressiontest:
  extends:
    - .gromacs:base:regressiontest
  rules:
    - !reference [.rules:skip-if-single-amd-gpu-unavailable, rules]
    - !reference [.rules:merge-and-post-merge-acceptance, rules]                     
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
    REGRESSIONTEST_PME_RANK_NUMBER: 0
    REGRESSIONTEST_TOTAL_RANK_NUMBER: 2
    REGRESSIONTEST_OMP_RANK_NUMBER: 1
    HSA_ENABLE_SDMA: 0  # Work around CI issues, Issue #5341
    GMX_TEST_PLUMED_KERNEL_IS_AVAILABLE: "YES"
    # TODO: this PLUMED_KERNEL is needed because there is a possible configuration mishap in scripted_gmx_docker_builds.py (see above)
    PLUMED_KERNEL: "/usr/local/lib/libplumedKernel.so"
  tags:
    - $GITLAB_RUNNER_TAG_1X_AMD_GPU
  needs:
    - job: gromacs:gcc-11-hip-622:build
    - job: regressiontests:prepare

gromacs:gcc-11-hip-622-nightly:configure:
  extends:
    - .gromacs:base:configure
    - .use-gcc:base
    - .use-hip
  rules:
    - !reference [.rules:nightly-not-for-release, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
    CMAKE_SIMD_OPTIONS: "-DGMX_SIMD=AVX2_128"
    CMAKE_BUILD_TYPE_OPTIONS: "-DCMAKE_BUILD_TYPE=RelWithAssert"
    CMAKE_EXTRA_OPTIONS: "-DGMX_HIP_TARGET_ARCH=gfx906 -DGMX_GPU_FFT_LIBRARY=ROCFFT"
    COMPILER_MAJOR_VERSION: 11

gromacs:gcc-11-hip-622-nightly:build:
  extends:
    - .gromacs:base:build
    - .use-gcc:base 
    - .use-ccache
  rules:
    - !reference [.rules:nightly-not-for-release, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
  needs:
    - job: gromacs:gcc-11-hip-622-nightly:configure

gromacs:gcc-11-hip-622-nightly:test:
  extends:
    - .gromacs:base:test
  rules:
    - !reference [.rules:nightly-not-for-release, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
    # The following two variables are not used by k8s, since this job runs on a separate host
    # But it's easier to set them up and use the existing scripts for job preparation that rely on them
    GPU_VENDOR: "AMD"
    GPU_COUNT: 2
    GMX_TEST_LABELS: "QuickGpuTest|SlowGpuTest"
  tags:
    - amd-gpu-gfx906
  allow_failure: true   # allow job failure w/o failing pipeline, since no redundant hardware
  needs:
    - job: gromacs:gcc-11-hip-622-nightly:build

gromacs:gcc-11-hip-622-nightly:regressiontest:
  extends:
    - .gromacs:base:regressiontest
  rules:
    - !reference [.rules:nightly-not-for-release, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
    REGRESSIONTEST_TOTAL_RANK_NUMBER: 2
    REGRESSIONTEST_OMP_RANK_NUMBER: 2
    REGRESSIONTEST_PME_RANK_NUMBER: 1
    GPU_VENDOR: "AMD"
    GPU_COUNT: 2
    GMX_TEST_PLUMED_KERNEL_IS_AVAILABLE: "YES"
    # TODO: this PLUMED_KERNEL is needed because there is a possible configuration mishap in scripted_gmx_docker_builds.py (see above)
    PLUMED_KERNEL: "/usr/local/lib/libplumedKernel.so"
  tags:
    - amd-gpu-gfx906
  allow_failure: true   # allow job failure w/o failing pipeline, since no redundant hardware
  needs:
    - job: gromacs:gcc-11-hip-622-nightly:build
    - job: regressiontests:prepare
