# Test goal: build with HIP to check HIP compilation
# Test intents (should change rarely and conservatively):
#   OS: Ubuntu newest supported
#   Compiler: gcc-11
#   GPU: HIP
#   Scope: configure, build
# Test implementation choices (free to change as needed):
#   OS: Ubuntu 24.04
#   Build type: RelWithAssert
#   Compiler: gcc-11
#   MPI: OpenMPI (AMD build)
#   SIMD: AVX2_256

gromacs:gcc-11-hip-622-mpi:configure:
  extends:
    - .gromacs:base:configure
    - .use-gcc:base
    - .use-hip
    - .use-mpi
  rules:
    - !reference [.rules:merge-and-post-merge-acceptance, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
    CMAKE_SIMD_OPTIONS: "-DGMX_SIMD=AVX2_256"
    CMAKE_BUILD_TYPE_OPTIONS: "-DCMAKE_BUILD_TYPE=RelWithAssert"
    CMAKE_EXTRA_OPTIONS: "-DGMX_HIP_TARGET_ARCH=gfx1034"
    COMPILER_MAJOR_VERSION: 11

gromacs:gcc-11-hip-622-mpi:build:
  extends:
    - .gromacs:base:build
    - .use-gcc:base
    - .use-ccache
  rules:
    - !reference [.rules:merge-and-post-merge-acceptance, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
  needs:
    - job: gromacs:gcc-11-hip-622-mpi:configure

gromacs:gcc-11-hip-622-mpi:test:
  extends:
    - .gromacs:base:test
  rules:
    - !reference [.rules:skip-if-single-amd-gpu-unavailable, rules]
    - !reference [.rules:merge-and-post-merge-acceptance, rules]                 
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
    GMX_TEST_LABELS: "QuickGpuTest|SlowGpuTest"
    HSA_ENABLE_SDMA: 0  # Work around CI issues, Issue #5341
    GPU_VENDOR: "AMD"
    GPU_COUNT: 1
  tags:
    - $GITLAB_RUNNER_TAG_1X_AMD_GPU
  needs:
    - job: gromacs:gcc-11-hip-622-mpi:build

gromacs:gcc-11-hip-622-mpi:regressiontest:
  extends:
    - .gromacs:base:regressiontest
  rules:
    - !reference [.rules:skip-if-single-amd-gpu-unavailable, rules]
    - !reference [.rules:merge-and-post-merge-acceptance, rules]                     
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
    REGRESSIONTEST_PME_RANK_NUMBER: 0
    REGRESSIONTEST_TOTAL_RANK_NUMBER: 2
    REGRESSIONTEST_OMP_RANK_NUMBER: 1
    REGRESSIONTEST_PARALLEL: "-np"
    HSA_ENABLE_SDMA: 0  # Work around CI issues, Issue #5341
    GPU_VENDOR: "AMD"
    GPU_COUNT: 1
  tags:
    - $GITLAB_RUNNER_TAG_1X_AMD_GPU
  needs:
    - job: gromacs:gcc-11-hip-622-mpi:build
    - job: regressiontests:prepare

gromacs:gcc-11-hip-622-mpi-nightly:configure:
  extends:
    - .gromacs:base:configure
    - .use-gcc:base
    - .use-hip
    - .use-mpi
  rules:
    - !reference [.rules:nightly-not-for-release, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
    CMAKE_SIMD_OPTIONS: "-DGMX_SIMD=AVX2_128"
    CMAKE_BUILD_TYPE_OPTIONS: "-DCMAKE_BUILD_TYPE=RelWithAssert"
    CMAKE_EXTRA_OPTIONS: "-DGMX_HIP_TARGET_ARCH=gfx906 -DGMX_GPU_FFT_LIBRARY=ROCFFT"
    COMPILER_MAJOR_VERSION: 11

gromacs:gcc-11-hip-622-mpi-nightly:build:
  extends:
    - .gromacs:base:build
    - .use-gcc:base 
    - .use-ccache
  rules:
    - !reference [.rules:nightly-not-for-release, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
  needs:
    - job: gromacs:gcc-11-hip-622-mpi-nightly:configure

gromacs:gcc-11-hip-622-mpi-nightly:test:
  extends:
    - .gromacs:base:test
  rules:
    - !reference [.rules:nightly-not-for-release, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
    # The following two variables are not used by k8s, since this job runs on a separate host
    # But it's easier to set them up and use the existing scripts for job preparation that rely on them
    GPU_VENDOR: "AMD"
    GPU_COUNT: 2
    GMX_TEST_LABELS: "QuickGpuTest|SlowGpuTest"
  tags:
    - amd-gpu-gfx906
  allow_failure: true   # allow job failure w/o failing pipeline, since no redundant hardware
  needs:
    - job: gromacs:gcc-11-hip-622-mpi-nightly:build

gromacs:gcc-11-hip-622-mpi-nightly:regressiontest:
  extends:
    - .gromacs:base:regressiontest
  rules:
    - !reference [.rules:nightly-not-for-release, rules]
  image: ${CI_REGISTRY}/gromacs/gromacs/ci-ubuntu-24.04-gcc-11-rocm-6.2.2-openmpi-5.0.3
  variables:
    CMAKE: /usr/local/cmake-3.28.0/bin/cmake
    REGRESSIONTEST_TOTAL_RANK_NUMBER: 2
    REGRESSIONTEST_OMP_RANK_NUMBER: 2
    REGRESSIONTEST_PME_RANK_NUMBER: 1
    REGRESSIONTEST_PARALLEL: "-np"
    GPU_VENDOR: "AMD"
    GPU_COUNT: 2
  tags:
    - amd-gpu-gfx906
  allow_failure: true   # allow job failure w/o failing pipeline, since no redundant hardware
  needs:
    - job: gromacs:gcc-11-hip-622-mpi-nightly:build
    - job: regressiontests:prepare
