/bin
/lib
*~
*.a
*.cache
*.DS_Store
*.egg-info
*.exe
*.gch
.git
*.lib
*.o
*.pyc
*.so
*.swp
.eggs
.idea
Makefile
lib*.pc
.project
.pytest_cache
.python-version
.tox
.cproject
build
_build
CMakeLists.txt.user
# When Dockerfiles get source from python_packaging, use an additional, more explicit COPY or ADD
python_packaging
/VersionInfo*.cmake
Testing
