*~
aclocal.m4
#*
*.la
*.o
*.lo
*.a
*.exe
*.lib
stamp-h1
configure
config.h
config.h.in
*.cache
libtool
config.status
log
config.log
Makefile.in
Makefile
.deps
.libs
lib*.pc
Doxyfile
doxygen-doc
.project
.cproject
