/bin
/lib
*~
#*
*.a
*.cache
*.DS_Store
*.egg-info
*.exe
*.gch
*.lib
*.o
*.pyc
*.so
*.swp
.eggs
.idea
Makefile
lib*.pc
.project
.tox
.cproject
build
_build
CMakeLists.txt.user
/VersionInfo*.cmake
Testing
