[access "refs/*"]
	owner = group Administrators
	read = group Replicate
	pushTag = group gmxcore
	push = group Administrators
[receive]
	requireChangeId = true
[access "refs/heads/CollectiveIO"]
	push = group gmxcore
	pushMerge = group gmxcore
[access "refs/heads/alexandria"]
	push = group alexandria
	pushMerge = group alexandria
[access "refs/heads/bluegene-kernel-upgrade"]
	push = group gmxcore
	pushMerge = group gmxcore
[access "refs/heads/comp_el"]
	push = group gmxcore
	pushMerge = group gmxcore
[access "refs/heads/fep"]
	push = group gmxcore
	pushMerge = group gmxcore
[access "refs/heads/history"]
	push = group gmxcore
	pushMerge = group gmxcore
[access "refs/heads/localpressure-4-0"]
	push = group gmxcore
	pushMerge = group gmxcore
[access "refs/heads/numa"]
	push = group gmxcore
	pushMerge = group gmxcore
[access "refs/heads/qhop"]
	push = group gmxcore
	pushMerge = group gmxcore
[access "refs/heads/qmmm"]
	push = group gmxcore
	push = group qmmm
	pushMerge = group gmxcore
	pushMerge = group qmmm
[access "refs/heads/release-4-5-localpressure"]
        push = group gmxcore
        pushMerge = group gmxcore
[access "refs/heads/threading"]
	push = group gmxcore
	pushMerge = group gmxcore
[access "refs/meta/config"]
	push = group Administrators
[access "refs/for/refs/heads/fep"]
	pushMerge = group gmxcore
[access "refs/heads/nbnxn_hybrid_acc"]
	read = group Anonymous Users
	push = +force group gmxcore
	pushMerge = group gmxcore
	owner = group gmxcore
	forgeCommitter = group Administrators
[access "refs/users/*"]
	read = group Anonymous Users
[project]
[access "refs/private/jochenhub/waxs"]
	exclusiveGroupPermissions = read
	pushMerge = group gmxdev
	pushMerge = group waxs
	owner = group gmxdev
	owner = group waxs
	submit = group waxs
	push = group waxs
	read = group gmxdev
	read = group waxs
[access "refs/for/refs/private/jochenhub/waxs"]
	pushMerge = group gmxdev
	pushMerge = group waxs
[access "refs/heads/tng"]
	read = group Registered Users
	label-Code-Review = -2..+2 group gmxcore
	label-Code-Review = -2..+2 group tng
	rebase = group gmxcore
	rebase = group tng
	push = group tng
	pushMerge = group tng
	pushTag = group tng
[access "refs/heads/comp_el_r46"]
	owner = group comp_el
	push = group comp_el
	pushMerge = group comp_el
	pushTag = group comp_el
	rebase = group comp_el
	submit = group comp_el
[submit]
	action = rebase if necessary
	mergeContent = true
[access "refs/heads/*"]
	label-Verified = -1..+1 group Registered Users
[access "refs/private/jochenhub/collradialpull"]
	owner = group waxs
	read = group waxs
	push = group waxs
	pushMerge = group waxs
	submit = group waxs
	exclusiveGroupPermissions = read
[access "refs/for/refs/private/jochenhub/collradialpull"]
	pushMerge = group waxs
[access "refs/private/mabraham/mdg4"]
	read = group mdg4
	push = group mdg4
	submit = group mdg4
[access "refs/heads/drude"]
	push = group gmxcore
	pushMerge = group gmxcore
	submit = group gmxcore
	rebase = group gmxcore
[access "refs/sandbox/*"]
	owner = group gmxdev
	read = group gmxdev
	push = +force group gmxdev
	pushMerge = group gmxdev
[access "refs/heads/lambda-fmm"]
	owner = group lambda-fmm
	push = group lambda-fmm
	pushMerge = group lambda-fmm
	label-Code-Review = -2..+2 group lambda-fmm
	label-Verified = -2..+2 group lambda-fmm
	rebase = group lambda-fmm
	submit = group lambda-fmm
	editTopicName = group lambda-fmm
	publishDrafts = group lambda-fmm
