[access "refs/*"]
	owner = group Administrators
	read = group Replicate
	pushTag = group gmx-core
	pushMerge = group Administrators
[receive]
	requireChangeId = true
[access "refs/heads/CollectiveIO"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/adress"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/adress-4-5"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/alexandria"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/bluegene-kernel-upgrade"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/comp_el"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/fep"]
	push = +force group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/gmx-cmdlinerec"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/gmx_packed_t"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/history"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/localpressure-4-0"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/numa"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/qhop"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/qmmm"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/release-4-5-localpressure"]
        push = group gmx-core
        pushMerge = group gmx-core
[access "refs/heads/rotation"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/heads/threading"]
	push = group gmx-core
	pushMerge = group gmx-core
[access "refs/meta/config"]
	push = group Administrators
[access "refs/for/refs/heads/fep"]
	pushMerge = group gmx-core
[access "refs/for/refs/heads/adress-4-5"]
	pushMerge = group gmx-core
[access "refs/heads/nbnxn_hybrid_acc"]
	read = group Anonymous Users
	push = group gmx-core
[access "refs/users/*"]
	read = group Anonymous Users
