# Python package requirements for complete build, installation, and testing of
# gmxapi functionality.
cmake>=3.9.6
networkx>=2.0
pip>=10.1
setuptools>=28.0.0
scikit-build>=0.7
# The following packages are not strictly necessary, but allow full documentation
# builds and testing.
mpi4py>=2
numpy>=1
pytest>=3.9
