# Requirements for build, installation and testing are provided for convenient
# use of `pip install -r requirements.txt`. To get a complete list of required
# packages, such as for completely offline installation, install these pacakges
# in an empty Python virtual environment and use `pip list` or `pip freeze` to
# see the actual packages installed, including dependencies, with version info.
#
# Note that, ordinarily, build requirements are discovered from pyproject.toml,
# and run time package dependencies (to be checked during installation) are
# resolved by setuptools from the `install_requires` argument to setup() in
# setup.py.
cmake>=3.13
networkx>=2.0
numpy>=1
pip>=10.1
scikit-build>=0.10
setuptools>=42
wheel
